{% extends 'flatpages/default.html' %}

{% load i18n %}

{% block title %}
{{ notification_detail }}
{% endblock title %}

{% block content %}

<div class="col-lg-6">
    <div class="card mb-4">
        {% if notification_detail.photo %}
        <a href="{% url 'Board:notification_detail' notification_detail.id %}"><img class="card-img-top" src="{{notification_detail.photo.url}}"/></a>
        {% endif %}
        <div class="card-body">
            <div class="small text-muted">{{notification_detail.date_creation|date:'d M Y'}}</div>
            <h2 class="card-title">{{notification_detail.title}}</h2>
            <p class="card-text">{{notification_detail.text|safe}}</p>
            {% if request.user == notification_detail.notification_user %}
            <a class="btn btn-primary" href="{% url 'Board:notification_update' notification_detail.id %}">Edit →</a>
            <a class="btn btn-danger" href="{% url 'Board:notification_delete' notification_detail.id %}">Delete →</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'Board:responses_create' notification_detail.id %}">Respond →</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}