{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}


{% block title_page %}
Responses
{% endblock title_page %}

{% block content %}

{% if responses %}
<div class="col-lg-6">
    <div class="card mb-4">
        {% for response in responses %}
        <div class="card-body">
            <div class="small text-muted">{{response.date_creation|date:'d M Y'}}</div>
            <h2 class="card-title">{{response.responses_advertising}}</h2>
            <p class="card-text">{{response.text}}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{response.responses_user}}</h6>
            <a class="btn btn-success" href="">Accept</a>
            <a class="btn btn-danger" href="">Delete</a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="col-lg-6">
    <p class="card-text">No responses</p>
</div>
{% endif %}
<!-- Pagination-->
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.number == 1 %}
        <li class="page-item disabled"><a class="page-link">Newer</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Newer</a></li>
        <li class="page-item" aria-current="page"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
        {% if page_obj.previous_page_number != 1 %}
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <li class="page-item" aria-current="page"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        {% endif %}
        <li class="page-item active"><a class="page-link" tabindex="-1" aria-disabled="false">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
        {% if paginator.num_pages != page_obj.next_page_number %}
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <li class="page-item" aria-current="page"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Older</a></li>
        {% endif %}
        {% if page_obj.number == page_obj.paginator.num_pages %}
        <li class="page-item disabled"><a class="page-link">Older</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}