<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
{{ post }}
{% endblock title %}

{% block content %}
<h1 class="text-center">{{ post.title }} <span class="text-muted fs-6 fw-normal"></span></h1>
<hr>
    <table>
        <tr>
            <td>{{ post.date_creation|date:'d M Y' }}</td>
        </tr>
    </table>
<ul class="list-inline">
    <li class="list-inline-item">{{ post.text }}</li>
    <li class="list-inline-item">
           <div class="d-grid gap-2 d-md-block">
                <a class="linc" href="{% url 'news:post_update' post.id %}">Редактировать новость</a>
                <a class="linc" href="{% url 'news:post_delete' post.id %}">Удалить новость</a>
           </div>
    </li>
</ul>
{% endblock content %}
